<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>
      This website is used for practicing on
      <span class="unique">Mysql</span> data
    </h1>
    <p>
      Total Data in Mysql Database is:-
      <span class="number"><%= result %> </span>
    </p>
    <div class="btns">
      <a href="/user"><button class="show">Show all data</button></a>
      <a href="/user/add"><button class="add">Add new user</button></a>
    </div>
  </body>
</html>
