<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/edit.css">
    <title>New Post</title>
</head>
<body>
    <div class="container">
        <h2>Now Write new Post</h2>
        <form action="/posts" method="post">
            <input type="text" name="username" id="username" placeholder="@example">
            <textarea name="content" id="content" cols="" rows="10" placeholder="Write content here...."></textarea>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>