<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Show</title>
</head>
<body>
    <div class="container">
        <div class="post-card">
            <h3>Post Id:- <%= post.id %> </h3>
            <h2 class="username">Username:- @<%= post.username %></h2>
            <p class="content">Content:- <%=post.content %></p>
        </div>
    </div>
</body>
</html>