<!DOCTYPE html>
<html lang="en">
  <%- include('head')%>
  <body>
    <a href="/" class="back-btn">Back to Home</a>
    <div class="show-content">
      <h3><span>Title:- </span> <%= filename %></h3>
      <p><span>Task:- </span> <%= fileData %></p>
    </div>
  </body>
</html>
